@import url('./constants.css');

header {
  box-shadow: 1px 1px 10px 1px grey;
}

.marqoLogo path {
  fill: var(--primary);
}

.darkSearchBar {
  /* border: 1px solid var(--dark-neutral-100); */
}

.searchBar {
  box-shadow: 0px 1px 10px 0px lightgray;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.large-tile {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}

.tooltip::before {
  color: white;
}
