:root {
  --primary: #00ffaa;
  --secondary: #020659;

  /* dark */
  --dark-primary: #1a1d2d;
  --dark-secondary: #00ffaa;
  --dark-neutral-100: #ffffff;

  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}
